<%- include('includes/head') %>
    <img
      src="<%=data.Image.src%>"
      alt="<%=data.Image.alt%>"
      class=" <%=data.Image.class%>"
    />
    <div>
      <p>
      A Bio Barát Biobolt egy 11 éve sikeresen működő, és folyamatosan bővülő
      bolthálózat, melyet magas szakmai tudással rendelkező magyar tulajdonosok
      hoztak létre. A Bio Barát Biobolt első sorban magasan minősített
      termékeivel, szakeladóival, köztük számos ismert természetgyógyásszal és
      fito-terapeutával jeleskedik a piacon. Folyamatosan bővülő
      termékpalettánkon olyan minőségi élelmiszereket és étrend-kiegészítőket
      sorakoztatunk csak fel, amely emelik ezen piac színvonalát, így azon
      vásárlók igényeit is igyekszünk kielégíteni, akik speciális táplálkozási
      irányt követnek. </p><p>
      Továbbá nem csak speciális, és natúr élelmiszerek terén jeleskedik
      boltunk, hanem az étrend-kiegészítők világába is bevezetjük a
      vásárlóinkat, melyben magasan képezett kollégáink is segítségére lehetnek
      kedves vásárlóinknak.
    </p><p>
      Több mint 8 ezer terméken túl lehetőséget biztosítunk még 12 ezer fajta
      termék beszerzésére, így többet között olyan márkákra, illetve termékek
      beszerzésére is van lehetőség, amelyek vásárlóink számára nehezen
      beszerezhetőek, vagy akár órákat kell utazniuk értük.
    </p><p>
      Jelenleg Budapest területén 8 másik bolttal rendelkezünk, de folyamatosan
      fejlődő cégünk igyekszik mindenki számára elérhetővé tenni kínálatát, így
      webshopos honlapunkon való megrendelésre, kiszállításra is van lehetőség.
    </p><p>
      Várunk szeretettel minden kedves érdeklődőt, régi és új vásárlókat is
      egyaránt!</p>
    </div>
  </div>
    <h2>TERMÉKEK</h2>
    <ul>
      <li>paleo</li>
      <li>gluténmentes</li>
      <li>cukormentes</li>
      <li>vegán</li>
      <li>raw</li>
      <li>készételek</li>
      <li>szénhidrát csökkentett</li>
      <li>bio élelmiszerek</li>
      <li>tisztítószer</li>
      <li>étrendkiegészítő</li>
    </ul>
    <h2>FORGALMAZOTT MÁRKÁK</h2>
    <ul>
      <li>G&amp;G</li>
      <li>Now</li>
      <li>Bioco</li>
      <li>Grape Vital</li>
      <li>Green Blood</li>
      <li>Egészség market</li>
      <li>Planetbio</li>
      <li>Organiqa</li>
      <li>Herbioticum</li>
      <li>Wise Tree</li>
      <li>Vegafoods</li>
      <li>Sanct Bernard</li>
      <li>Pharmekal</li>
      <li>GAL</li>
      <li>Doktor Természet</li>
      <li>Natur Tanya</li>
      <li>Tenmag</li>
      <li>Manuka Health</li>
      <li>Big Star</li>
      <li>Bálint</li>
      <li>Ezerjófű</li>
      <li>Pom-Pom</li>
      <li>Borza</li>
      <li>Benton</li>
      <li>Nesti</li>
      <li>Serafim</li>
      <li>Bio Fresh</li>
      <li>Borza</li>
      <li>Faith in Nature</li>
      <li>Dr. Konopka</li>
      <li>Natura Siberica</li>
      <li>Oblepikha Siberica</li>
      <li>Little Siberica</li>
      <li>Tulasi</li>
      <li>Herbatint</li>
      <li>Khadi</li>
      <li>Bálint Krémek</li>
      <li>Virde</li>
      <li>Sante</li>
      <li>Neobio</li>
      <li>Weleda</li>
      <li>Natur Helix</li>
      <li>Hill Vital</li>
      <li>Dr. Immun</li>
      <li>Eat Real</li>
      <li>Biopont</li>
      <li>Nature Cookta</li>
      <li>Naturae Group</li>
      <li>Paleocentrum</li>
      <li>Paleolét Éléskamra</li>
      <li>POLCZ</li>
      <li>Carb Control</li>
      <li>Ízmíves</li>
      <li>Biorganik</li>
      <li>Naturganik</li>
      <li>Természet Áldása</li>
      <li>Steinberger</li>
      <li>Green Mark</li>
      <li>Almitas</li>
      <li>Cornito</li>
      <li>Naturbit</li>
      <li>Apiland</li>
      <li>Naturworld</li>
      <li>Naturgold</li>
      <li>Erdészné</li>
      <li>Első Pesti</li>
      <li>Torras</li>
      <li>ISH Bridge</li>
      <li>Salvus</li>
      <li>Cocomas</li>
      <li>Ecomil</li>
      <li>Magos Varázs</li>
      <li>Schar</li>
      <li>Gullon</li>
      <li>Tiszta Ízek</li>
      <li>Hester Life</li>
      <li>Viblance</li>
      <li>Natura</li>
      <li>Rapunzel</li>
      <li>Hideg Nyalat</li>
      <li>Mentes Pék</li>
      <li>Vegán Grill</li>
      <li>Violife</li>
      <li>Green Vie</li>
      <li>Vegabond</li>
      <li>Szomor</li>
      <li>Joya</li>
      <li>Sojade</li>
      <li>Well-well</li>
      <li>Lunter</li>
      <li>Fannan Hummus</li>
      <li>Vega Farm</li>
      <li>Sojaprodukt</li>
      <li>Koko</li>
      <li>Dydex</li>
      <li>Herbatrend</li>
      <li>Naturland</li>
      <li>Everest Ayurveda</li>
      <li>Tulsi</li>
      <li>Biopont Mandala Tea</li>
      <li>Ukko</li>
      <li>ETS- English Tea Shop</li>
      <li>Yogi</li>
      <li>Bonavini</li>
      <li>Big Star</li>
      <li>Bertalan Méhészet</li>
    </ul>
    <h2>SZOLGÁLTATÁSOK</h2>
    <ul>
      <li>szaktanácsadás</li>
      <li>magas szintű kiszolgálás</li>
    </ul>
    <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
    <ul>
      <li>Készpénz (Forint)</li>
      <li>Bankkártya</li>
<%- include('includes/end') %>
